node_modules
www
.idea
.temp
.sass-cache
app/bower_components
coverage
platforms
plugins
hooks
*.swp
*.swo
*.log
*.DS_Store
#

#app/scripts/configuration.js
#.bowerrc
#.editorconfig
#.gitignore
#.jshintignore
#.jshintrc
#Gruntfile.js
#app/
#bower.json
#config.xml
#hooks/
#ionic.project
#package.json
#resources/
#test/
