<ion-view>
  <ion-header-bar align-title="left" class="bar-energized">
    <h2 class="title">Gönderiler</h2>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
        <button class="button button-icon button-clear"
                ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
          <i class="icon ion-android-funnel"></i>
        </button>
      </span>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list show-reorder="data.showReorder">
      <ion-item class="item-avatar-left item-icon-right" go-click="/tab/dist/{{chat.id}}"
                ng-repeat="chat in chats track by $index">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory" ng-if="!data.showReorder"></i>
        <ion-reorder-button class="ion-navicon right-0"
                            on-reorder="moveItem(chat, $fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

